@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.navContainer {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navContainer a {
  font-size: 24px;
  text-decoration: none;
}

.menuContainer {
  z-index: 3;
}

.menuContainer p {
  font-size: 24px;
  text-decoration: underline;
}

.menuContainer p:hover {
  cursor: pointer;
}

.navlinks_open {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.navlinks_open a {
  font-size: 2rem;
  margin-bottom: 20px;
}

.navlinks {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.navlinks a {
  font-size: 2rem;
  margin-bottom: 20px;
}

.heroContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  padding: 3rem;
}

@media (min-width: 600px) {
  .heroContainer {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .heroContainer {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.Item {
  background-color: white;
  height: 14rem;
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  color: white;
  font-family: Helvetica;
  font-style: italic;
  cursor: pointer;
}

.Item p {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 15px 15px 15px 20px;
  font-weight: bold;
  font-size: 25px;
  opacity: 0%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#imageOne {
  background-image: url("../../static/youareloved1_1 2_1-2.gif");
  background-position: center;
}

#imageTwo {
  background-image: url(../../static/mock1.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#imageThree {
  background-image: url(../../static/yusufkc.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#imageFour {
  background-image: url("../../static/branding.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#imageFive {
  background-image: url("../../static/Mockup.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#imageSix {
  background-image: url("../../static/thumbnail.png");
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.black {
  z-index: 3;
  height: 14rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.black:hover {
  background-color: black;
  opacity: 85%;
}

.black:hover > p {
  opacity: 100%;
}

.footerContainer {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 551px) {
  .footerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.ComingSoonWrapper {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
}

.ComingSoonWrapper p {
  font-size: 25px;
  font-weight: bold;
}

.bookCover {
  width: 50%;
}

.bookWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bookSolo {
  width: 25%;
  min-width: 300px;
}

.title {
  font-weight: bold;
  margin-top: 10px;
}

.desc {
  font-size: .8rem;
  margin-top: 5px;
  color: #dd7907;
}

@media (max-width: 800px) {
  .bookWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .bookSolo {
    margin-top: 20px;
  }
}

.bookCoverTwo {
  width: 120%;
}

.serviceWrapper {
  margin: 0 auto;
  background-image: url("../../static/trainingfinalv2_1.gif");
  height: 28rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.textWrapper {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 50px 0px 0px 0px;
}

.textHeader {
  font-weight: bold;
  font-size: 70px;
}

ul {
  margin-top: 30px;
}

.serviceWrapperFashion {
  margin: 0 auto;
  background-image: url("../../static/fashion.png");
  height: 28rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.serviceWrapperBrand {
  margin: 0 auto;
  background-image: url("../../static/logos.png");
  height: 28rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.serviceWrapperPoster {
  margin: 0 auto;
  background-image: url("../../static/posters.png");
  height: 28rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.serviceWrapperUiUx {
  margin: 0 auto;
  background-image: url("../../static/Uiux.png");
  height: 28rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.textWrapper {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 50px 0px 0px 0px;
}

.textHeader {
  font-weight: bold;
  font-size: 70px;
}

ul {
  margin-top: 30px;
}

* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins';
}

.landingPage {
  height: 100vh;
  width: 100%;
}

a {
  color: black;
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */